/* @import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kalam:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@1,100&family=Vesper+Libre:wght@400;500;700;900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
html, body, .app {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400;
  
} */
